
<app-city-detail #detailDialog ></app-city-detail>

<form novalidate #myForm="ngForm" style="margin-bottom: 100px;">
  
  <kendo-grid
  [data]="gridDataResult | async"
  [pageSize]="state.take"
  [skip]="state.skip"
  [sort]="state.sort"
  [sortable]="true"
  [pageable]="true"
  [selectable]="true"
  [scrollable]="'none'"
  (dataStateChange)="dataStateChange($event)"
  (edit)="editHandler($event)" (cancel)="cancelHandler($event)"
  (save)="saveHandler($event)" (remove)="removeHandler($event.dataItem.cityId)"
  (add)="addHandler($event)"
  
  >
  <ng-template kendoGridToolbarTemplate>
    <button  
    class="k-button "
    (click)="detailDialog.openDialog()"
    type="button">افزودن</button>
  </ng-template>
  <kendo-grid-column field="provinceId" width="130" [hidden]="true"
   [filterable]="false" [sortable]="false"></kendo-grid-column>
  
  <kendo-grid-column field="countryName" title="کشور" width="200">
      <ng-template kendoGridEditTemplate let-dataItem="dataItem" >
         
        <!-- <app-country-combo
         name="countryId" 
         [selectedCountry]="dataItem" 
         [(ngModel)]="dataItem.countryId" 
         >
        
          </app-country-combo> -->

  </ng-template>
  </kendo-grid-column>

  <kendo-grid-column field="provinceName" title="استان" width="200">
  
  <ng-template kendoGridEditTemplate let-dataItem="dataItem"  >
      <input [(ngModel)]="dataItem.provinceName" name="provinceName" class="k-textbox" required/>
  </ng-template>
  
  </kendo-grid-column>

  <kendo-grid-column field="cityName" title="شهر" width="200">
  
  <ng-template kendoGridEditTemplate let-dataItem="dataItem"  >
      <input [(ngModel)]="dataItem.cityName" name="cityName" 
      class="k-textbox" required/>
  </ng-template>
  
  </kendo-grid-column>
  
  
  <kendo-grid-command-column title="" width="60">
    <ng-template kendoGridCellTemplate let-isNew="isNew" let-dataItem="dataItem">
  
        <button kendoGridEditCommand1 type="button"         
        class="k-button k-grid-edit-command"
        (click)="detailDialog.openDialogById(dataItem.cityId)" >ویرایش</button>
        <button kendoGridRemoveCommand type="button">حذف</button>
        <button kendoGridSaveCommand type="button" [disabled]="myForm.invalid">{{ isNew ? 'افزودن' : 'ویرایش' }}</button>
        <button kendoGridCancelCommand type="button">{{ isNew ? 'عدم ذخیره' : 'انصراف' }}</button>
    </ng-template>
  </kendo-grid-command-column>
  
  </kendo-grid>

</form>


