

<p class="alert alert-info">
 <strong> 
   {{model.personFirstName}} {{model.personLastName}}
  </strong>
</p>




<form novalidate #myForm="ngForm" style="margin-bottom: 100px;">

  <kendo-grid 
  [data]="gridDataResult | async"
   [pageSize]="state.take" 
   [skip]="state.skip" 
   [sort]="state.sort"
    [sortable]="true"
    [pageable]="true" 
    [selectable]="true" 
    [scrollable]="'none'" 
    (remove)="removeHandler($event.dataItem.personStatusId)"
    >

    <kendo-grid-column field="specialStatusId" width="130" [hidden]="true" [filterable]="false" [sortable]="false"></kendo-grid-column>

    <kendo-grid-column field="statusName" title="گروه وضعیت خاص ">
    </kendo-grid-column>
    <kendo-grid-column field="statusValueName" title=" وضعیت خاص " >
    </kendo-grid-column>
    <kendo-grid-column field="moreStatusValue" title="سایر وضعیت خاص ">
    </kendo-grid-column>

    <kendo-grid-command-column title="" width="200">
      <ng-template kendoGridCellTemplate  let-dataItem="dataItem">
        <button kendoGridRemoveCommand type="button">حذف</button>
       </ng-template>
    </kendo-grid-command-column>

  </kendo-grid>

</form>